$color-bg-color: #111111; // Background color

$color-main-text: #444444; // Normal text
$color-white-text: #fff; // Darker text
$color-red-text: #da3333; // Red text

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  font-family: 'Poppins', sans-serif;
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-weight: 400;
  line-height: 1.6;
  background-color: $color-bg-color;
  max-height: 100vh;
  overflow: hidden;
}

header {
  height: 6vh;
  display: flex;
  gap: 2rem;
  background-color: #1d1d1d;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 5px 5px 5px 5px;
}

.header-settings button {
  background-color: #111111;
  color: white;
  border: none;
  font-family: 'Poppins';
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.header-settings button:hover {
  background-color: #1d1d1d;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $color-main-text;
}

.words-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-words {
  display: flex;

  flex-wrap: wrap;
  gap: 0.6rem;
  width: 100%;
}

header {
  width: 35%;
  margin-top: 2rem;
  & h2 {
    color: white;
  }
}

.correct {
  color: white !important;
}

.incorrect {
  color: red;
}

.type {
  border-left: 1px solid white;
}

.seconds {
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.wpm {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
}

.hidden {
  display: none !important;
}

.reset-button {
  background-color: transparent;
  border: none;
}

.reset-button:hover {
  cursor: pointer;
}

.reset-button-svg {
  height: 20px;
  width: 20px;
  background-color: none;
  color: white;
  fill: rgb(255, 255, 255);
}

.words-stats {
  display: flex;
  background-color: #161616;
  border-radius: 5px;
  width: 100%;
  padding: 3rem 6rem;
  gap: 15rem;
}

.words-stats h1 {
  font-size: 2rem;
  text-transform: lowercase;
}

.words-stats-number {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}
